{
  "parser": "babel-eslint",
  "extends": "airbnb",
	"rules": {
	  "indent": [2, "tab", {"SwitchCase": 1}],
	  "spaced-comment": 0,
      "func-names": 0,
      "no-console": 0,
      "eqeqeq": 0,
      "id-length": 0,
      "no-nested-ternary": 1,
      "no-use-before-define": 0,
      "space-before-function-paren": 0,
      "max-len": 0
	}
}
