<footer class="centered row">
	<div class="container row">
		<div class="column">
			<h2>{{ site.title }}</h2>
			{% if site.github_username %}
			<a class="link-with-icon" href="https://github.com/{{ site.github_username }}"><svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg> {{ site.github_username }}</a>
			{% endif %}

			{% if site.twitter_username %}
			<a class="link-with-icon" href="https://github.com/{{ site.twitter_username }}"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> {{ site.twitter_username }}</a>
			{% endif %}
		</div>

		<div>{{ site.description }}</div>
	</div>
</footer>
